atlassian-ide-plugin.xml
*.log
.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings/
bin/
build/
out/
classes/
**/bin/
**/.settings/
**/.classpath
**/.project
tomcat.log*
target/
dependency-reduced-pom.xml
.idea
*.iml
out
.gradle/